.cart-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .table {
    width: 100%;
  }
  
  .btn {
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-danger {
    background-color: #dc3545;
    color: white;
    border: none;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
  }

.text-total{
    text-align: end;
}
  